.movies-card__row {
    margin: 16px 28px 17px 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media screen and (max-width: 768px) {
    .movies-card__row {
        margin: 14px 26px 15px 14px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

@media screen and (max-width: 320px) {
    .movies-card__row {
        margin-bottom: 14px;
        margin-right: 22px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}