.footer__paragraph {
    margin: 0 70px 20px;
    padding: 79px 0 20px;
    font-family: 'Inter', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #A0A0A0;
    text-align: center;
    border-bottom: 1px solid #E8E8E8;
}

@media screen and (max-width: 768px) {
    .footer__paragraph {
        margin: 0 30px 20px;
    }

}

@media screen and (max-width: 320px) {
    .footer__paragraph {
        margin: 0 10px 0;
        padding-bottom: 21px;
        font-size: 12px;
        line-height: 15px;
    }

}