.about-project__paragraph-development {
    margin: 14px 0 0;
    font-family: 'Inter', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #A0A0A0;
}

@media screen and (max-width: 768px) {
    .about-project__paragraph-development {
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
    }
}

@media screen and (max-width: 320px) {
    .about-project__paragraph-development {
        margin: 10px 0 0;
        font-size: 11px;
        line-height: 13px;
    }
}