.footer {
    padding-bottom: 20px;
    max-width: 100%;
    background-color: #FAFAFA;
}

@media screen and (max-width: 768px) {
    .footer {
        background-color: #FFFFFF;
    }
}

@media screen and (max-width: 320px) {
    .footer {
        padding-bottom: 10px;
    }
}